/*==============================================================================
Pagination
	- Styles the pagination
==============================================================================*/

.pagination {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-bottom: 80px;
	span {
	}
	a {
		width: 25px;
		height: 25px;
		display: inline-block;
		margin: 0 em(15);
		&:last-of-type {
			transform: rotate(180deg);
		}
	}
	@media ( max-width: $laptop ) {
		padding-bottom: 0;
		margin: em(40) 0;
	}
}

.woocommerce-pagination {
	padding-top: 10px;
	ul.page-numbers {
		display: flex;
		padding-bottom: 80px;
		li {
			&:first-child a {
				margin-left: 0;
			}
		}
		a, span {
			width: 25px;
			height: 25px;
			margin: 0 em(15);
			padding: 5px 10px;
			transition: background $transition-fast;
			.no-touch &:hover, &.current {
				transition: background $transition-fast;
			}
		}
		@media ( max-width: $laptop ) {
			padding-bottom: 0;
			margin: em(40) 0;
		}
	}
}