
.category {
	&-feature {
		img {
			display: block;
			height: auto;
			width: 100%;
		}
	}
}

.post {
	&-grid {
		margin: 0 -10px;

		&-image {
			display: block;
			height: auto;
			width: 100%;
		}
		&-single {
			&-categories {
				color: $red;
				font-size: em(14);
				font-weight: 200;
				padding: em(10) 0;
			}
			&-date {
				color: $spruce;
				font-size: em(14);
				font-style: italic;
				font-weight: 200;
			}
			&-title {
				font-size: em(36);
				font-weight: bold;
				padding: em(7) 0;
				a {
					color: $dark-blue;
				}
			}
		}
	}
}

.read-more {
	margin: 20px 0;
}