/*==============================================================================
Navigation
==============================================================================*/

.main-nav {
	border-top: 1px solid $border-grey;
	margin-top: em(30);
	.menu-item {
		background: transparent;
		border-left: 1px solid $border-grey;
		transition: background $transition-fast $easing;
		&:last-child {
			border-right: 1px solid $border-grey;
		}
		.no-touch &:hover,
		.no-touch &:focus {
			background: $blue;
			transition: background $transition-fast $easing;
			a {
				color: $white;
				transition: color $transition-fast $easing;
			}
		}
	}
}

.menu {
	&-nav-wrapper {
		display: block;
		margin: 0 auto;
		width: 50%;
	}
	
	&-header-menu {

	}
	&-item {
		
		padding: em(20) em(25);
		
		a {
			color: $blue;
			font-size: em(18);
			font-weight: bold;
			transition: color $transition-fast $easing;
		}
	}
}