
.category {
	&-feature {
		img {
			display: block;
			height: auto;
			width: 100%;
		}
	}
}

.post {
	&-categories {
		color: $red;
		font-size: em(14);
		font-weight: 200;
		padding: em(10) 0;
		.post-single & {
			padding: 0;
		}
	}
	&-date {
		color: $spruce;
		font-size: em(14);
		font-style: italic;
		font-weight: 200;
	}
	&-grid {
		margin: 0 -10px;

		&-image {
			display: block;
			height: auto;
			transform: scale(1);
			transition: transform $transition-fast;
			width: 100%;
			.no-touch &:hover,
			.no-touch &:focus {
				transform: scale(2);
				transition: transform $transition-slow
			}
		}
		&-single {
			&-title {
				font-size: em(36);
				font-weight: bold;
				padding: em(7) 0;
				a {
					color: $dark-blue;
					transition: color $transition-fast $easing;
					.no-touch &:hover,
					.no-touch &:focus {
						color: $red;
						transition: color $transition-fast $easing;
					}
				}
			}
			&-image {
				&-link {
					display: block;
					overflow: hidden;
				}
			}
		}
	}
	&-single {
		&-content {
			margin: 0 auto;
			max-width: $content-max-width;
			padding-bottom: em(50);
		}
		&-featured-image {
			position: relative;
			img {
				display: block;
				height: auto;
				width: 100%;
			}
			.page & {
				margin: 25px 0 ;
			}
		}
		&-meta {
			border-bottom: 1px solid $border-grey;
			margin-bottom: 50px;
			padding: em(25) 0;
			&-inner {
				margin: 0 auto;
				max-width: $content-max-width;
			}
			&.no-image {
				border-bottom: 0;
				margin-bottom: 0;
			}
		}
		&-title {
			background: $red;
			bottom: 0;
			color: $white;
			font-size: em(42);
			font-weight: 900;
			left: 18%;
			padding: 25px;
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			@media ( max-width: $tablet ) {
				left: 0;
				position: relative;
				width: 100%;
			}
			@media ( max-width: $mobile ) {
				font-size: em(24);
				padding: 10px 0;
			}
			.no-image & {
				background: transparent;
				color: $dark-blue;
				padding: 25px 0;
				position: relative;
				text-align: left;
			}
			&-wrap {
				border-top: 1px solid $border-grey;
			}
		}
	}
}

.read-more {
	margin: 20px 0;
}