

.related {
	border-top: 1px solid $border-grey;
	&-title {
		color: $dark-blue;
		font-size: em(22);
		font-weight: 900;
		text-align: center;
		span {
			border-left: 1px solid $border-grey;
			border-right: 1px solid $border-grey;
			display: inline-block;
			padding: em(20) em(20) 0 em(20);
			text-transform: uppercase;
		}
	}
	&-single {
		&-title {
			background: $red;
			padding: em(15) 0;
			font-size: em(18);
			font-weight: 900;
			text-align: center;
			a {
				color: $white;
				.no-touch &:hover,
				.no-touch &:focus {
					color: $white;
				}
			}
		}
		@media ( max-width: $laptop ) {
			padding: em(15) 0;
		}
	}
	&-wrap {
		margin-top: 25px;
		padding: em(25);
		@media ( max-width: $laptop ) {
			padding: em(25) 0;
		}
	}
}