
.home {
	&-callout {
		background-color: #f9f9f9;
		border: 1px solid $blue;
		padding: em(50);
		p {
			color: #677181;
			font-size: em(24);
		}
	}
	&-categories {
		width: 50%;
		&-connect {
			&-title {
				border-top: 1px solid $border-grey;
				border-bottom: 1px solid $border-grey;
				color: $dark-blue;
				font-size: em(22);
				font-weight: 900;
				padding: em(15) em(25);
				text-transform: uppercase;
				&.first {
					padding-left: 0;
				}
			}
			@media ( max-width: $tablet ) {
				display: block;
			}
		}
		&-wrap {
			padding: em(50) em(50) 0 0;
			@media ( max-width: $tablet ) {
				padding: em(25) 0 0 0;
			}
		}
		@media ( max-width: $tablet ) {
			width: 100%;
		}
	}
	&-category {
		display: block;
		margin-bottom: 10px;
		position: relative;
		&-image {
			display: block;
			height: auto;
			width: 100%;
		}
		&-title {
			background: $red;
			bottom: 0;
			color: $white;
			font-size: em(27);
			font-weight: 900;
			left: 35px;
			padding: 25px 0;
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			width: 160px;
			@media ( max-width: $tablet ) {
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
			}
		}
	}
	&-connect {
		border-left: 1px solid $border-grey;
		width: 50%;
		&-inner {
			border-bottom: 1px solid $border-grey;
		}
		&-social {
			padding: em(25);
			width: 50%;
			&-item {
				svg {
					height: 35px;
					width: 35px;
				}
				svg, path {
					fill: $red;
				}
			}
		}
		&-twitter {
			padding: em(50) 0 0 em(50);
			@media ( max-width: $tablet ) {
				padding: em(25) 0 0 0;
			}
		}
		@media ( max-width: $tablet ) {
			width: 100%;
		}
	}
	&-posts {

	}
	&-post {
		
	}
}