
.home {
	&-callout {
		background-color: #f9f9f9;
		border: 1px solid $blue;
		margin-bottom: 50px;
		padding: em(50);
		p {
			color: #677181;
			font-size: em(24);
		}
		@media ( max-width: $laptop ) {
			padding: em(25);
			.content-title {
				font-size: em(32);
			}
		}
	}
	&-categories {
		width: 50%;
		&-connect {
			&-title {
				border-top: 1px solid $border-grey;
				border-bottom: 1px solid $border-grey;
				color: $dark-blue;
				font-size: em(22);
				font-weight: 900;
				padding: em(15) em(25);
				text-transform: uppercase;
				&.first {
					padding-left: 0;
				}
			}
			@media ( max-width: $tablet ) {
				display: block;
			}
		}
		&-wrap {
			padding: em(50) em(50) 0 0;
			@media ( max-width: $tablet ) {
				padding: em(25) 0 0 0;
			}
		}
		@media ( max-width: $tablet ) {
			width: 100%;
		}
	}
	&-category {
		display: block;
		margin-bottom: 10px;
		position: relative;
		transition: opacity $transition-fast $easing;
		&-image {
			display: block;
			height: auto;
			width: 100%;
		}
		&-title {
			background: $red;
			bottom: 0;
			color: $white;
			font-size: em(27);
			font-weight: 900;
			left: 35px;
			padding: 25px 0;
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			transition: left $transition-fast $easing, width $transition-fast $easing;
			width: 160px;
			@media ( max-width: $tablet ) {
				left: 50%;
				padding: 5px 0;
				font-size: em(24);
				transform: translateX(-50%);
				width: 100%;
			}
			.no-touch .home-category:hover & {
				left: 0;
				width: 100%;
				transition:  left $transition-fast $easing, width $transition-fast $easing;
			}
		}

	}
	&-connect {
		border-left: 1px solid $border-grey;
		width: 50%;
		&-inner {
			border-bottom: 1px solid $border-grey;
		}
		&-social {
			padding: em(25);
			width: 50%;
			&-item {
				
				svg {
					height: 100%;
					transform: scale(1) rotate(0deg);
					transition: transform $transition-fast $easing;
					width: 100%;

				}
				svg, path {
					fill: $red;
				}
				a {
					display: block;
					height: 35px;
					width: 35px;
					.no-touch &:hover,
					.no-touch &:focus {
						svg {
							transform: scale(1.5) rotate(360deg);
							transition: transform $transition-fast $easing;
						}
					}
				}
			}
			@media ( max-width: $laptop ) {
				padding: em(20);
				width: 100%;
			}
		}
		&-twitter {
			padding: em(50) 0 0 em(50);
			@media ( max-width: $tablet ) {
				padding: em(25) 0 0 0;
			}
		}
		@media ( max-width: $tablet ) {
			width: 100%;
		}
	}
	&-posts {
		border-bottom: 1px solid $border-grey;
		margin-bottom: 50px;
		padding-bottom: em(50);
	}
	&-post {
		&-single {	
			background-blend-mode: luminosity;
			background-color: #000;
			background-size: cover;
			background-position: center center;
			border-top: 5px solid $white;
			display: block;
			height: 100%;
			max-height: 100px;
			opacity: 1;
			overflow: hidden;
			position: absolute;
			right: 0;
			transition: opacity $transition-slow;
			width: 50%;
			&:nth-child(1) {
				border-top: 0;
				top: 0;
			}
			&:nth-child(2) {
				top: 100px;
			}
			&:nth-child(3) {
				top: 200px;
			}
			&:nth-child(4) {
				top: 300px
			}
			&:nth-child(5) {
				top: 400px;
			}
			&-title {
				bottom: 0;
				color: $white;
				font-size: em(18);
				font-weight: 900;
				padding: 15px;
				position: absolute;
				text-align: center;
				text-transform: uppercase;
				transition: transform $transition-fast $easing;
				transform: scale(1);
				width: 100%;
				.current & {
					background: $red;
					font-size: em(27);
					max-width: 100%;
					@media ( max-width: $desktop ) {
						font-size: em(18);
					}
				}
				.no-touch .home-post-single:hover &,
				.no-touch .home-post-single:focus & {
					transform: scale(1.2);
					transform-origin: center;
					transition: transform $transition-fast $easing;
				}
				@media ( max-width: $desktop ) {
					align-items: center;
					background: $red;
					bottom: 0;
					display: flex;
					justify-content: center;
					height: 60px;
					left: 0;
					margin: auto;
					max-width: 100%;
					right: 0;
					top: 0;
				}
			}
			&.pre-slide {
				opacity: 0;
				transition: opacity $transition-slow;
			}
			&.no-luminosity {
				background-blend-mode: initial;
			}
			&.current {
				background-blend-mode: initial;
				border-top: 0;
				border-right: 5px solid $white;
				max-height: 100%;
				right: auto;
				transform-origin: center;
				&:nth-child(1) {
					animation: first $transition-slow $easing forwards;
				}
				&:nth-child(2) {
					animation: second $transition-slow $easing forwards;
				}
				&:nth-child(3) {
					animation: third $transition-slow $easing forwards;
				}
				&:nth-child(4) {
					animation: fourth $transition-slow $easing forwards;
				}
				&:nth-child(5) {
					animation: fifth $transition-slow $easing forwards;
				}
				@media ( max-width: $desktop ) {
					animation: none;
					background-blend-mode: luminosity;
					border: 0;
					top: auto;
				}
			}
			@media ( max-width: $desktop ) {
				border: 0;
				height: 200px;
				margin: 15px 0;
				max-height: 100%;
				position: relative;
				top: auto!important;
				width: 100%;
			}
		}
		&_wrap {
			height: 500px;
			position: relative;
			width: 100%;
			@media ( max-width: $desktop ) {
				height: auto;
			}
		}
	}
}

@keyframes first {
	0% {
		left: 50%;
		max-height: 100px;
	}
	20% {
		left: 0;
		
	}

	100% {
		max-height: 100%;transform: translateY(0);
	}
}
@keyframes second {
	0% {
		left: 50%;
		max-height: 100px;
	}
	20% {
		left: 0;
		
	}

	100% {
		max-height: 100%;transform: translateY(-100px);
	}
}
@keyframes third {
	0% {
		left: 50%;
		max-height: 100px;
	}
	20% {
		left: 0;
		
	}

	100% {
		max-height: 100%;transform: translateY(-200px);
	}
}
@keyframes fourth {
	0% {
		left: 50%;
		max-height: 100px;
	}
	20% {
		left: 0;
		
	}

	100% {
		max-height: 100%;transform: translateY(-300px);
	}
}
@keyframes fifth {
	0% {
		left: 50%;
		max-height: 100px;
	}
	20% {
		left: 0;
		
	}

	100% {
		max-height: 100%;transform: translateY(-400px);
	}
}



