.color-gradient {
	animation: move-gradient 10s linear infinite;
	background: url(../images/components/color-gradient.jpg) repeat-x top left;
	height: 8px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;

}

.single .color-gradient {
	display: none;
}

@keyframes move-gradient {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 851px 50%;
	}

}