// Media Queries 

$xxxl		:1915px;
$xxl		:1700px;
$hd			:1400px;
$desktop	:1000px;
$laptop		:905px;
$tablet 	:800px;
$lrg-mobile :675px;
$landscape	:600px; 
$mobile		:500px; 
$x-small	:350px; 

// Fonts

$font-family-primary 		: 'Montserrat', sans-serif;
$font-family-secondary		: 'Lora', serif; 

$transition-duration-short 	: 400ms;
$transition-duration-long	: 1200ms;

// Easings

$easing-fast				: cubic-bezier(1, 0, 0, 0); 
$easing-slow				: cubic-bezier(1, 1, 1, 1); 

// Colors

$black 				: #4a4a4a;
$red 				: #dd2400;
$grey 				: #5c5c5c;
$dark-grey  		: #888888;
$light-grey 		: #f5f5f5;
$border-grey		: #cdcdcd;
$button-grey		: #929292;
$border-grey		: #e5e5e5;
$alternate-grey 	: #adadad;
$white 				: #ffffff;
$alternate-white 	: #b5b5b5;

// Widths

$max-width	: 1250px;


$color-scheme_1 	: #273851;
$color-scheme_2		: #3b6cb4;
$color-scheme_3		: #93b7ec;
$color-scheme_4		: #677181;

$dark-blue			: $color-scheme_1;
$darker-blue		: #1c293d;
$blue 				: $color-scheme_2;
$light-blue			: $color-scheme_3;
$lighter-blue		: #b7c2d3;
$spruce				: $color-scheme_4;