/*==============================================================================
General
==============================================================================*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	min-height: 100%;
}

body {
	font-family: $font-family-primary;
}

/*==============================================================================
Functions
==============================================================================*/

@function em($font-size) {
	@return ($font-size / 16) * 1em;
}


  

/*==============================================================================
Helper Classes
==============================================================================*/

.fixed {
	position: fixed;
	top: 0;
}
.reveal {
	visibility: hidden;
}
.uppercase {
	text-transform: uppercase;
}
.big {
	font-size: 62px;
} 
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.grey {
	color: #8e8e8e;
}
.blue {
	color: #7496ba;
}
.white {
	color: #FFF;
}
.orange {
	color: #fcb040;
}
.black {
	color: #000;
}
.black-background {
	background-color: #000;
}
.white-background {
	background-color: #FFF;
}
.break {
	display: none;
}
.un-break {
	display: block;
}
.clear {
	clear: both;
}
.show {
	display: block;
}
.hide {
	display: none;
}

.button {
	border: 1px solid $red;
	color: $red;
	display: block;
	font-size: em(14); 
	font-weight: bold;
	max-width: 120px;
	padding: em(15) 0;
	text-align: center;
	transition: background $transition-fast $easing, color $transition-fast $easing;
	.no-touch &:hover, 
	.no-touch &:focus {
		background: $red;
		color: $white;
		transition: background $transition-fast $easing, color $transition-fast $easing;
	}
}

/*==============================================================================
Selection
==============================================================================*/

::-moz-selection {
	background: #000 !important;
	color: #fff !important;
	text-shadow: none !important;
}

::selection {
	background: #000 !important;
	color: #fff !important;
	text-shadow: none !important;
}

/*==============================================================================
Widths
==============================================================================*/

.full {
	width: 100%;
}

.container {
	overflow: hidden;
}

.content {
	background-color: $white;
	padding: em(160) em(25) 7% em(25);
	min-height: 100%;
	position: relative;
	z-index: 1;
	&-title {
		color: $blue;
		font-size: em(48);
		font-weight: bold;
		margin-bottom: 	30px;
	}
	&-inner {
		display: block;
		margin: 0 auto;
		max-width: $max-width;
		position: relative;
		z-index: 1;

	}
	.home & {
		padding: em(35) em(25) 7% em(25);
	}
	&.post-single {
		padding: em(50) em(25) 7% em(25);
	}
	&.page {
		padding: em(25) em(25) 7% em(25);
	}
}
